body {
  text align: center;
  background-color: linear-gradient ( #18FFFF 0% #00C853 100%);
  backroung-repeat: no-repeat;
}
 
img {
  text-align: center;
  width: 150px;
  border-radius: 50%
    
}

h1 {
  text-shadow: 2px 2px ;
  font-sixe: 20px;
  text-align: center;
}

#bio {
  padding: 20px;
  font-size:18;
  text-align:center;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    cursor: pointer;
    right: 20px;    
}